 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
     <title>Document</title>
 </head>
 <body>
     <div class="container">
        <header>
            <div id="logo"><img src="image/logo.png" alt="logo"></div>
            <nav>
                <ul>
                    <li><a href="#sct1">Inicio</a></li>
                    <li><a href="#sct2">Nosotros</a></li>
                    <li><a href="#sct3">Misión</a></li>
                    <li><a href="#sct4">Contáctanos</a></li>
                </ul>
            </nav>
        </header>
        <div id="sct1">
            <img src="image/photo1.png" alt="photo1">
        </div>
        <div id="sct2">

        </div>
        <div id="sct3">

        </div>
        <div id="sct4">
            <div id="formulario">
                <h2>Contáctanos</h2>
                <form action="">
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                    <input type="text" name="apellido" id="apellido" placeholder="Apellido">
                    <input type="tel" name="telefono" id="telefono" placeholder="Teléfono">
                    <input type="email" name="email" id="email" placeholder="e-mail">
                    <textarea name="comentario" id="comentario" cols="30" rows="10" placeholder="Como te podemos ayudar?.."></textarea>
                        <button>Cancelar</button>
                        <input type="submit" value="Enviar" id="enviar">
                </form>
            </div>
            <div id="img-form">

            </div>
        </div>
        <footer></footer>
    </div>
 </body>
 </html>