$website-bg: #f8f8f8;
$bg-white: #fff;
$bg-oscuro: #29354A;
$bg-azul-pastel: #6F91C9;
$font-claro: #f3f3f3;
$font-white: #fff;
$font-oscuro: #29354A;
$bg-azul-oscuro:#536D96;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    width: 10vw;
}

body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background: $website-bg;
}

.container{
    display: grid;
    width: 100vw;
    min-width: 320px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header header header header"
                        "section1 section1 section1 section1"
                        "section2 section2 section2 section2"
                        "section3 section3 section3 section3"
                        "section4 section4 section4 section4"
                        "footer footer footer footer";
}

header{
    grid-area: header;
    background: $bg-azul-oscuro;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #logo{
        margin-left: 60px;
        display: flex;
        align-items: center;
        height: 90%;
        img{
            height: 100%;
        }
    }
    nav{
        display: flex;
        margin-right: 100px;
        ul{
            list-style: none;
        }
        li{
            display: inline-block;
        }
        a{
            color: $font-claro;
            font-family: 'Open Sans', sans-serif;
            display: block;
            padding: 6px 15px;
            text-decoration: none;
            cursor: pointer;
            &:hover{
                color: $font-oscuro;
                transition: all 0.3s;
            }
        }
    }
}

#sct1{
    grid-area: section1;
    height: 680px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 80%;

    }
}

#sct2{
    grid-area: section2;
    height: 700px;
    width: 100vw;
    background: $font-oscuro;
}

#sct3{
    grid-area: section3;
    height: 700px;
    width: 100vw;
    background: $font-claro;
}

#sct4{
    grid-area: section4;
    height: 700px;
    width: 100vw;
    background: $bg-azul-pastel;
    display: flex;
    justify-content: space-around;
    align-items: center;
    #formulario{
        flex-direction: column;
        justify-content: center;
        width: 50%;
        h2{
            color: $font-oscuro;
            font-family: 'Open-Sans' serif;
        }
        form{
            display: flex;
            flex-direction: column;
            width: 75%;
            input{
                padding: 15px;
                border: 1px solid $font-claro;
                margin-bottom: 5px;
            }
            button{
                width: 30%;
                border: none;
                padding: 18px;
                background: $font-oscuro;
                color: $font-white;
                cursor: pointer;
                margin-top: 10px;
            }
            input[type="submit"]{
                width: 30%;
                border: none;
                padding: 18px;
                background: $font-oscuro;
                color: $font-white;
                cursor: pointer;
                margin-top: 10px;
            }

        }
    }
}

footer{
    grid-area: footer;
    background: $bg-oscuro;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    h3{
        color: $font-claro;
        font-size: 0.85em;
    }
}

/******Clases*******/

.fontNormal{
    font-weight: normal;
}

.sticky{
    position: sticky;
    z-index: 1000;
    top: 0;
    box-shadow: 0px 4px 3px rgba(63,67,74, 0.6);
    height: 65px;
    width: 100vw;
    transition: all 0.3s;
}

.listaActiva{
    color: $font-oscuro;
    font-weight: 600;
}